# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\new proect\ДЗ 13 сCSS\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
